@media (min-width: 361px) { 
    header { 
        background-position: center center;
        min-height: 42vh;
    }
}

@media (min-width: 769px) {
    .conteudo {
        display: flex;
        align-items: space-between;
        flex-direction: column;
        width: 38%;
        margin: 0 auto;
    }
}
